:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Primary colors */
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-desaturated-cyan: hsl(167, 40%, 24%); /* graphic design text */
  --dark-blue: hsl(198, 62%, 26%); /* photography text */
  --dark-moderate-cyan: hsl(168, 34%, 41%); /* footer */

  /* Neutral colors*/
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);

  /* Typography */
  --fs-body: 18px;
  --ff-barlow: 'Barlow', sans-serif;
  --fw-barlow: 600;
  --ff-fraunces: 'Fraunces', sans-serif;
  --fw-bold-fraunces: 700;
  --fw-black-fraunces: 900;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--ff-barlow);
  font-weight: var(--fw-barlow);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* Class for the App.jsx component */
.containerSection {
  height: 450px;
  padding: 100px 50px;
}

.containerSection h4 {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-family: var(--ff-fraunces);
  font-weight: var(--fw-bold-fraunces);
  color: var(--grayish-blue);
  letter-spacing: 5px;
  margin-bottom: 75px;
}

.containerFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.gallery {
  display: flex;
  flex-direction: row;
}

/* Classes for the NavBar.jsx component */
.container {
  height: 100vh;
  background-image: url(./assets/images/desktop/image-header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  display: flex;
  flex-direction: row;
  padding: 50px;
}

.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  width: 150px;
  height: 30px;
}

.hamburger {
  display: none;
}

/* Class for the Nav.jsx component */
.nav {
  width: 550px;
  height: 45px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
}

/* Selectors for the Nav.jsx component */
.nav a {
  text-decoration: none;
  color: var(--white);
}

/* ID selector for the Nav.jsx component */
#contact {
  background-color: var(--white);
  border: 15px solid white;
  border-radius: 30px;
  padding: 5px 10px;
}

#contact a {
  color: black;
  text-transform: uppercase;
  font-family: var(--ff-fraunces);
  font-weight: var(--fw-bold-fraunces);
}

/* Classes for the Header.jsx component */
.title {
  display: flex;
  justify-content: center;
  color: var(--white);
  text-transform: uppercase;
  font-family: var(--ff-fraunces);
  font-weight: var(--fw-black-fraunces);
  letter-spacing: 5px;
}

.container_arrow {
  display: flex;
  justify-content: center;
  margin-top: 65px;
}

/* Class for the App.jsx component */
.grid_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
}

/* Class for the Image.jsx component */
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Class for the ImageText.jsx component */
.containerImage {
  position: relative;
  width: 100%;
}

.centerContainer {
  position: absolute;
  top: 60%;
  left: 25%;
  right: 25%;
}

.centerText {
  text-align: center;
}

.styleText h3 {
  font-family: var(--ff-fraunces);
  font-weight: var(--fw-black-fraunces);
  font-size: 28px;
}

.green {
  color: var(--dark-desaturated-cyan);
}

.green p {
  color: var(--dark-moderate-cyan);
}

.blue {
  color: var(--very-dark-desaturated-blue);
}

.blue p {
  color: var(--dark-blue);
}

/* Classes for the Text.jsx component */
.containerText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.text {
  width: 400px;
  height: 350px;
}

/* Selectors for the Text.jsx component */
.text h3 {
  color: var(--very-dark-desaturated-blue);
  font-family: var(--ff-fraunces);
  font-weight: var(--fw-black-fraunces);
  font-size: 36px;
}

.text p {
  color: var(--dark-grayish-blue);
  font-weight: var(--fw-bold-fraunces);
  margin: 35px 0;
}

.text span {
  color: var(--very-dark-desaturated-blue);
  font-family: var(--ff-fraunces);
  font-weight: var(--fw-black-fraunces);
  text-transform: uppercase;
  display: inline;
}

.underline_red {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 0, 0, 0.4) 90%,
    rgba(255, 0, 0, 0.5) 100%
  );
}

.underline_yellow {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 0, 0.4) 90%,
    rgb(255, 255, 0, 0.5) 100%
  );
}

/* Classes for the Testimonial.jsx component */
.flex {
  width: 310px;
  text-align: center;
}

.profilePicture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.comment {
  color: var(--very-dark-grayish-blue);
  line-height: 1.6;
  margin-bottom: 50px;
}

.name {
  color: var(--very-dark-desaturated-blue);
  font-family: var(--ff-fraunces);
  font-weight: var(--fw-black-fraunces);
}

.flex span {
  color: var(--grayish-blue);
  font-size: 12px;
}

/* Section for the Gallery.jsx component */

.column {
  width: 100vw;
  height: 300px;
}

.column img {
  width: 100%;
  height: 100%;
}

/* Classes for the Footer.jsx component */
.footer_container {
  height: 300px;
  background-color: #8ad2c4;
}

.footer_flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.footer_flex path {
  fill: var(--dark-desaturated-cyan);
  transform: scale(1.5);
}

.footer_sections {
  width: 300px;
  margin: 15px 0 50px;
}

.footer_sections ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}

.footer_sections ul li {
  color: var(--dark-moderate-cyan);
}

.footer_social {
  width: 200px;
}

.footer_socialFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* Add the breakpoints */
@media (max-width: 1100px) {
  /* Selectors for the ImageText.jsx component */
  .centerContainer {
    width: 300px;
    left: 20%;
  }
  .styleText h3 {
    font-size: 16px;
  }
  .styleText p {
    font-size: 14px;
  }
}

@media (max-width: 900px) {
  /* Selectors for the ImageText.jsx component */
  .centerContainer {
    left: 15%;
  }
  /* Class for the Text.jsx component */
  .text {
    width: 350px;
    height: 300px;
  }

  /* Selectors for the Text.jsx component */
  .text h3 {
    font-size: 24px;
  }

  .text p {
    margin: 35px 0;
  }

  .text span {
    font-size: 14px;
  }
}

@media (max-width: 770px) {
  /* Selectors for the ImageText.jsx component */
  .centerContainer {
    width: 300px;
    left: 10%;
  }

  .styleText h3 {
    font-size: 16px;
  }

  .styleText p {
    font-size: 12px;
  }
  /* Class for the Text.jsx component */
  .text {
    width: 300px;
    height: 275px;
  }
}

@media (max-width: 700px) {
  /* Selectors for the ImageText.jsx component */
  .centerContainer {
    width: 300px;
    left: 5%;
  }

  .styleText h3 {
    font-size: 16px;
  }

  .styleText p {
    font-size: 12px;
  }
}

@media (max-width: 650px) {
  /* Selectors for the Text.jsx component */
  .text {
    width: 200px;
    height: 275px;
  }
  .text h3 {
    font-size: 16px;
  }

  .text p {
    margin: 35px 0;
  }

  /* Selectors for the ImageText.jsx component */
  .centerContainer {
    max-width: 250px;
  }

  .centerText {
    text-align: center;
    margin: 0;
  }

  .styleText h3 {
    font-size: 16px;
  }

  .styleText p {
    font-size: 12px;
  }

  /* Class for the NavBar.jsx component */
  .header {
    padding: 30px;
  }

  .navbar {
    padding: 30px 50px;
  }

  .toggle {
    position: relative;
    right: 30px;
    top: 0;
    cursor: pointer;
    background: transparent;
    border: none;
  }

  .hamburger {
    display: block;
  }

  /* Class for the Nav.jsx component */
  #contact {
    background-color: var(--yellow);
    border: 10px solid white;
    border-radius: 50px;
    padding: 5px;
  }

  #contact a {
    font-size: 14px;
  }

  .nav {
    display: none;
  }

  .menu-nav {
    list-style: none;
    position: absolute;
    background-color: var(--white);
    top: 15%;
    left: 20%;
    width: 0;
    overflow: hidden;
    max-width: 250px;
    font-size: 18px;
  }
  .menu-nav.show-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
  }
  .menu-nav li a,
  .menu-nav li span {
    display: block;
    padding: 1.2rem 1rem;
  }

  a {
    color: var(--dark-grayish-blue);
  }

  @media (max-width: 550px) {
    /* Class for the App.jsx component */
    .containerSection {
      height: 1200px;
      padding: 50px 0;
    }

    .containerSection h4 {
      margin-bottom: 0;
    }

    .containerFlex {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
    }

    .grid_container {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, 1fr);
    }

    .grid_container div:nth-of-type(1) {
      order: 2;
    }

    .grid_container div:nth-of-type(2) {
      order: 1;
    }

    .grid_container div:nth-of-type(3) {
      order: 3;
    }

    .grid_container div:nth-of-type(4) {
      order: 4;
    }

    .grid_container div:nth-of-type(5) {
      order: 5;
    }

    .grid_container div:nth-of-type(6) {
      order: 6;
    }

    /* Selectors for the Text.jsx component */
    .containerText {
      max-width: 500px;
      text-align: center;
    }

    .text {
      width: auto;
      height: 350px;
      display: flex;
      flex-direction: column;
      padding: 30px 50px;
    }

    .text h3 {
      font-size: 38px;
      width: 100%;
    }

    .text p {
      font-size: 20px;
      margin: 35px 5px 45px;
    }

    .text span {
      font-size: 20px;
    }

    /* Class for the ImageText.jsx component */
    .containerImage {
      position: relative;
      width: 100%;
      height: 100vh;
    }

    .centerContainer {
      max-width: 400px;
      left: 15%;
    }

    .styleText h3 {
      font-size: 36px;
    }

    .styleText p {
      font-size: 16px;
    }
  }

  @media (max-width: 450px) {
    .centerContainer {
      left: 10%;
    }
  }
}
